[build]
builder = "NIXPACKS"
buildCommand = "yarn install && yarn build"

[deploy]
# 恢复启动时的自动迁移
startCommand = "yarn medusa db:migrate && yarn start"
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10

[variables]
NODE_ENV = "production"
NPM_CONFIG_PRODUCTION = "false"
YARN_ENABLE_IMMUTABLE_INSTALLS = "false"
